<div class="card" *ngIf="isLoading">
	<h5 class="card-header">Loading...</h5>
	<div class="card-block text-xs-center">
		<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
	</div>
</div>

<search-box
	class="search-box-container clearfix"
	[ngClass]="{focused: searchBoxIsFocused}"
	*ngIf="!isLoading"
	(update)="databaseSearch($event)"
	(focusChange)="toggleSearchBoxFocus($event)"
	[collection]="collection"></search-box>

<button (click)="showMore(10, orgs.length)">Show more</button>

<div class="card" *ngIf="!isLoading">
	<h5 class="card-header">Showing {{orgsShowing || ''}} organization<span *ngIf="orgsShowing != 1">s</span></h5>
	<div class="card-block">

		<table class="table table-bordered table-striped">

			<tbody *ngIf="orgs.length === 0">
				<tr>
					<td colspan="4">No orgs to show. Try broadening your search.</td>
				</tr>
			</tbody>

			<tbody *ngIf="!isEditing">
				<tr #orgsList *ngFor="let org of orgs"
					(click)="viewOrg(org._id)"
					(clickOutside)="deselectOrg($event, org._id)">
					<td>
						<table>
							<tbody>
								<tr>
									<td>{{org.name}}</td>
									<td>{{org.stars}}</td>
								</tr>
								<tr *ngIf="viewingOrg && org._id === selectedOrg._id">
									<td>
										<img src="{{selectedOrg.images[0]}}" width="260">
									</td>
								</tr>	
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>

		</table>

		<div *ngIf="loadingOrgs" class="loading-orgs text-xs-center">
			<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
		</div>

		<div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Message:</strong> {{infoMsg.body}}
		</div>
	</div>
</div>

